<%- include('header') %> 
    <div class="box" id="heading">
        <h1><span style="color: royalblue;"><%= listTitle %></span> to-do list</h1>
    </div>
    <div class="box">
            <% for(var i =0; i<newListItems.length; i++){ %>
                <div class="item">
                    <input type="checkbox">
                    <p><%= newListItems[i] %> </p>
                </div>
                <%}%>
             <form class="item" action="/" method="POST">
                 <input type="text" name="todo" placeholder="Enter a new to-do" class="newToDo" autocomplete="off">
                 <button type="submit" name='list' value=<%= listTitle %> >+</button>
             </form>
    </div>  

    <footer>
        <a href="/about">About</a>
    </footer>

    <%- include('footer') %> 